@import "../../style/vars.scss";

.wrapper-spinner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  h2 {
    @include font(3vw, 700, 100%);
  }
}
.spinner {
  width: 200px;
  height: 200px;
  border: 5px solid #ccc;
  border-top-color: rgb(115, 132, 130);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
