@import "../../../style/vars.scss";

.emptyBasket {
  padding-top: 20px;
  padding-bottom: 20px;
  @include flex(flex, row, space-between, flex-start);
  @media (max-width: 1100px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .basketTitle {
    @include font(24px, 600, 100%);
    margin-bottom: 12px;
    @media (max-width: 1100px) {
      width: 100%;
      @include font(20px, 600, 100%);
    }
  }
}
.basket {
  width: 100%;
  @include flex(flex, row, space-between, flex-start);
  .basketTitle {
    @include font(24px, 600, 100%);
    margin-bottom: 12px;
    @media (max-width: 1100px) {
      width: 100%;
      @include font(20px, 600, 100%);
    }
  }
  .amount {
    background-color: rgb(242, 242, 243);
    border-radius: 6px;
    height: 20px;
    padding: 2px 17px;
    @include font(12px, 400, 16px);
  }
}
hr {
  background-color: rgb(242, 242, 243);
  height: 1px;
  width: 100%;
  border: none;
  margin-bottom: 16px;
  @media (max-width: 1100px) {
    margin-bottom: 10px;
  }
}
.inTotal {
  width: 100%;
  @include flex(flex, row, space-between, center);
  margin-bottom: 24px;
  @media (max-width: 1100px) {
    margin-bottom: 10px;
  }
  h3 {
    @include font(16px, 400, 130%);
    @media (max-width: 1100px) {
      @include font(14px, 400, 100%);
    }
  }
}
.toOrder {
  padding: 12px 71px;
  width: 100%;
  margin-bottom: 8px;
  color: white;
  @include font(16px, 400, 100%);
  border-radius: 12px;
  background-color: rgb(255, 112, 32);
  border: none;
}
.delivery {
  width: 100%;
  @include flex(flex, row, flex-start, center);
  gap: 8px;
  img {
    display: block;
  }
  span {
    @include font(12px, 400, 16px);
  }
}
